// Mixins

@mixin flexboxCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flexboxSpaceBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// Structure Elements

* { margin: 0; padding: 0; }

html {
  color: white;
  background: transparent;
}

body {
  padding: 40px;
}

header {
  height: 50px;
  @include flexboxSpaceBetween();
}

main {
  height: 820px;
  margin: 40px 0 40px 0;
  @include flexboxCenter();
}

footer {
  height: 50px;
  @include flexboxSpaceBetween();
}

// Typography

h1 {
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 28px;
  font-weight: 800;
  text-transform: uppercase;
}

main h1 {
  font-size: 96px;
  line-height: 80px;
}

h1 small {
  font-weight: 400;
}

h2 {
  margin: 0;
  padding: 0;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
}

main h2 {
  font-size: 96px;
  line-height: 80px;
}

h3 {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  text-transform: capitalize;
}

h3 small {
  font-size: 14px;
  font-weight: 400;
}

.snapchatUpsell {
  margin: 40px;
  padding: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #ffffff;
  box-shadow: 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802),
    0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725),
    0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035),
    0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275),
    0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198),
    0px 100px 80px rgba(0, 0, 0, 0.07);
  border-radius: 8px;

  svg {
    margin-bottom: 40px;
  }

  h1 {
    font-size: 32px;
    line-height: 36px;
    color: black;
  }

  h2 {
    font-size: 24px;
    line-height: 36px;
    color: black;
  }
}

#songRequests h1 {
  font-weight: 600;
}

/* Social Links */

#socialLinks {
  width: 325px;
  height: 50px;
  position: relative;
  z-index: 1;
  left: -100px;

  div {
    width: 325px;
    height: 50px;
    display: flex;
    align-items: center;
    position: absolute;
  }

  div:nth-last-child(1) {
    margin-bottom: 0;
  }

  h1 {
    font-weight: 700;
    text-transform: lowercase;
    margin-left: 15px;
  }
}

.social {
  opacity: 0;
}

// #socialLinks { animation: flyInLeft 10s both infinite cubic-bezier(0.76, 0, 0.24, 1); }

// @keyframes flyInLeft {

//   0%     { opacity: 0; transform: translateX(-350px); }
//   10%    { opacity: 1; transform: translateX(0); }
//   90%    { opacity: 1; transform: translateX(0); }
//   100%   { opacity: 0; transform: translateX(-350px); }

// }

/* Time Display */

#localTime {
  text-align: center;
}

/* HeartSupport */

#heartSupport img {
  position: relative;
  top: 5px;
}

/* Current Song */

#currentSong {
  text-align: center;
}

#currentSong h1 {
  text-transform: capitalize;
}

#songRequests {
  width: 325px;
  text-align: right;
}

/* Helper Classes */

.topGradient {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -99;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0.793082) 1.54%,
    rgba(0, 0, 0, 0.771592) 3.08%,
    rgba(0, 0, 0, 0.734672) 4.62%,
    rgba(0, 0, 0, 0.682071) 6.16%,
    rgba(0, 0, 0, 0.61458) 7.7%,
    rgba(0, 0, 0, 0.534493) 9.24%,
    rgba(0, 0, 0, 0.445847) 10.78%,
    rgba(0, 0, 0, 0.354153) 12.32%,
    rgba(0, 0, 0, 0.265507) 13.86%,
    rgba(0, 0, 0, 0.18542) 15.4%,
    rgba(0, 0, 0, 0.117929) 16.94%,
    rgba(0, 0, 0, 0.0653279) 18.48%,
    rgba(0, 0, 0, 0.028408) 20.02%,
    rgba(0, 0, 0, 0.00691776) 21.56%,
    rgba(0, 0, 0, 0) 23.1%
  );
  opacity: 0.8;
}

.bottomGradient {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -99;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0.793082) 1.54%,
    rgba(0, 0, 0, 0.771592) 3.08%,
    rgba(0, 0, 0, 0.734672) 4.62%,
    rgba(0, 0, 0, 0.682071) 6.16%,
    rgba(0, 0, 0, 0.61458) 7.7%,
    rgba(0, 0, 0, 0.534493) 9.24%,
    rgba(0, 0, 0, 0.445847) 10.78%,
    rgba(0, 0, 0, 0.354153) 12.32%,
    rgba(0, 0, 0, 0.265507) 13.86%,
    rgba(0, 0, 0, 0.18542) 15.4%,
    rgba(0, 0, 0, 0.117929) 16.94%,
    rgba(0, 0, 0, 0.0653279) 18.48%,
    rgba(0, 0, 0, 0.028408) 20.02%,
    rgba(0, 0, 0, 0.00691776) 21.56%,
    rgba(0, 0, 0, 0) 23.1%
  );
  opacity: 0.8;
}

.skrimmed {
  background: rgba(0, 0, 0, 0.6);
}

.accentColor {
  color: #00e5c9;
}

.hidden {
  visibility: hidden;
}
